<h1>Hello World</h1>

<%= form_with(url: "/helloworld", method: "get") do %>
  <%= label_tag(:num1, "Number 1:") %>
  <%= number_field_tag(:num1) %>
  <%= label_tag(:num2, "Number 2:") %>
  <%= number_field_tag(:num2) %>
  <%= submit_tag("Arrange") %>
<% end %>
<p>
<p>Result of problem1:</p>
<p>
<p>
</p>
</p>

<p>
<p>Result of problem2:</p>
<p></p>
</p>

<p>
<p>Result of problem3:</p>
<p>
  <%= simple_format(@output3) %>
</p>
</p>

<p>
<p>Result of problem4:</p>
<p></p>
</p>

<p>
<p>Result of problem5:</p>
<p></p>
</p>

<p>
<p>Result of problem6:</p>
<p></p>
</p>

<p>
<p>Result of problem7:</p>
<p></p>
</p>

<p>
<p>Result of problem8:</p>
<p></p>
</p>

<p>
<p>Result of problem9:</p>
<p></p>
</p>