<h1>Userlist</h1>

<p>Anzahl Benutzer: <%= User.count %></p>

<p>Name des 1. Benutzers in der Datenbank: <%= User.first.name %></p>

<% u = User.first %>
<p>Email des 1. Benutzers in der Datenbank: <%= u.email %></p>
</br>
<ol>
  <% User.all.each do |u| %>
    <li>

      <%= u.name %>
      <br/>
      Email: <a href="mailto:<%= u.email %>"><%= u.email %></a>
      <br/>
      Age: <%= u.age %>
      <br/>
    </li>
  <% end %>
</ol>

<a href="/">Back to Main menu</a>